.title {
  font-weight: 800;
  font-size: 32px ;
  color: var(--secondary-color);
  line-height: 120%;
  font-style: ExtraBold;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  font-style: Regular;
  color: var(--quaternary-color);
}