
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
@use './fonts';
@use './normalize';
@use './components/button.scss';
@use './components/titles.scss';

* {
  font-family: "Nunito Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #18121E;
  --tertiary-color: #1A3E3E;
  --quaternary-color:#F2BE22;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body.loader-lock {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
}

.fw4 {
  font-weight: 400;
}

.fs18 {
  font-size: 18px;
}

.fs26 {
  font-size: 26px;
}

.mb26 {
  margin-bottom: 26px;
}