@use './fonts';
@use './normalize';
@use './components/button.scss';
@use './components/titles.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #18121E;
  --tertiary-color: #1A3E3E;
  --quaternary-color:#F2BE22;
}

.container {
  display: block;
  max-width: 1180px;
}

.fw4 {
  font-weight: 400;
}

.fs18 {
  font-size: 18px;
}